<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>
<f:section name="Main">
    <f:if condition="{options.respectColumns}">
        <f:then>
            <f:if condition="{options.respectRows}">
                <f:then>
                    <f:render partial="BootstrapGrid" section="Rows" arguments="{data: data, children: children, options: options, flexform: flexform}"/>
                </f:then>
                <f:else>
                    <f:render partial="BootstrapGrid" section="Columns" arguments="{data: data, children: children, options: options, flexform: flexform}"/>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:render partial="BootstrapGrid" section="Default" arguments="{data: data, children: children, options: options, flexform: flexform}"/>
        </f:else>
    </f:if>
</f:section>
</html>